<header>
    <p id="logo">
        <%= link_to root_path do %>
            RailsCamp<span>Blog</span>
        <% end %>
    </p>
    <nav>
        <ul>
            <li><%= link_to "トップ", root_path %></li>
            <li><%= link_to "ユーザー登録", root_path %></li>
            <li><%= link_to "ログイン", root_path %></li>
            <div class="clear"></div>
        </ul>
    </nav>
    <div class="clear"></div>
</header>